/* Basic Reset */
/* Resets margin and padding for body, headings, forms, and buttons to ensure consistent styling across browsers */
body,
h1,
form,
button {
  margin: 0;
  padding: 0;
}

/* Body Style */
/* Sets the default font and top padding for the body element */
body {
  font-family: Arial, sans-serif;
  padding-top: 180px; /* Adjust this value as needed to make tabs visible */
}

/* Form Stage Styles */
/* Hides form stages by default and shows the active stage */
.form-stage {
  display: none;
}
.form-stage.active {
  display: block;
}

/* Button Style */
/* Enhances the cursor to pointer on hover over buttons */
button {
  cursor: pointer;
}

/* Navbar Styles */
/* Styles for the navigation bar, including background color, padding, and fixed positioning */
#navbar {
  overflow: hidden;
  background-color: hsla(256, 64%, 27%, 1);
  padding: 70px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  transition: padding 0.3s, font-size 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar Link Styles */
/* Styles for the links in the navbar, including color, padding, and hover effects */
#navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  transition: padding 0.3s, font-size 0.3s;
  margin-right: 5px;
}

/* Navbar Logo Style */
/* Styles for the navbar logo, including font size and color */
#navbar #logo {
  color: white;
  font-size: 60px;
  font-weight: bold;
  transition: 0.4s;
  transition: padding 0.3s, font-size 0.3s;
  margin-left: 50px;
  flex-grow: 1;
  text-align: center;
  padding: auto;
  padding-right: 40px;
}

/* Navbar Hover and Active Link Styles */
/* Styles for navbar links on hover and when active */
#navbar a:hover {
  background-color: rgb(153, 153, 255);
  color: black;
}
#navbar a.active {
  background-color: hsla(290, 100%, 73%, 1);
  color: white;
}

/* Navbar Right Section Style */
/* Styles for the right section of the navbar */
#navbar-right {
  float: right;
}

/* Responsive Navbar Styles */
/* Adjusts navbar padding and layout for smaller screens */
@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;
    flex-direction: column; /* Stack items vertically on small screens */
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }
}

/* Tab Styles */
/* Styles for the tab container and buttons, including background color and hover effects */
.tab {
  position: sticky;
  top: 0;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin-top: 50px;
  text-align: center;
  transition: top 0.3s;
}
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  display: inline-block;
}
.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
  background-color: #ccc;
}

/* Tab Content Styles */
/* Styles for the content inside each tab, including display and animation effects */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
@keyframes fadeEffect {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Input and Select Styles */
/* Styles for text inputs and select elements, including width, padding, and borders */
input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Submit Button Styles */
/* Styles for the submit button, including background color and hover effect */
input[type=submit] {
  width: 100%;
  background-color: hsla(290, 100%, 73%, 1);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: hsla(290, 100%, 73%, 1);
}

/* Date Input Styles */
/* Styles for the date input fields */
input[type="date"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Miscellaneous Styles */
/* Additional styles for various elements like date, country, buttons, and textareas */
.date,
.country {
  display: block;
}
b {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}
b:hover {
  background-color: hsla(290, 100%, 73%, 1);
  color: white;
}
.previous,
.next {
  background-color: #f1f1f1;
  color: black;
}
.round {
  border-radius: 50%;
}
#specialRequests,
#medicalConditions {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
  font-family: Arial, sans-serif;
}
#addmore {
  width: 25%;
  background-color: #f1f1f1;
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  margin: 8px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center auto;
  display: block;
  margin-bottom: 10px;
}
#addmore:hover {
  background-color: hsla(290, 100%, 73%, 1);
}
#applyButton {
  position: fixed;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20%;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
}
#applyButton:hover {
  background-color: transparent;
  color: rgb(153, 153, 255);
}
